@media only screen and (min-width: 600px) {
    .card {
        width: 80%;
    }
}

.card {
    background-color: var(--dp-card-background);
}

.card_title {
    color: var(--dp-title-color)
}

.card_text {
    color: var(--dp-text-color);
    white-space: pre-wrap;
}