.header {
    background-color: var(--dp-card-background);
    border-color: var(--dp-card-border);
}

.header_text {
    color: var(--dp-title-color);
}

.header_text:hover{
    color: var(--dp-title-color);
}

.body {
    background-color: var(--dp-foreground);
    color: var(--dp-text-color-black);
}

.card {
    width: 80%;
    border-color: var(--dp-card-border);
}
.card input, .card input:focus {
    background-color: var(--dp-foreground);
    color: var(--dp-title-color);
}
.card textarea, .card textarea:focus {
    background-color: var(--dp-foreground);
    color: var(--dp-title-color);
}