.logo {
    filter: var(--dp-logo);
}
.nav_title {
    font-size: 120%; 
    color: var(--dp-menu-title)
}
.nav_contents {
    font-weight: 700;
}
.soft_font, .soft_font:focus {
    font-family: "Roboto Slab", "Georgia", "Times", "serif";
    color: var(--dp-menu-item-color);
    user-select: none;
}
.soft_font a, .soft_font a:visited, .soft_font a:hover, .soft_font a:active, .soft_font a:focus {
    color: inherit;
  }
.toggler_btn {
    border: 1px;
    border-style: solid;
    border-color: rgba(108, 117, 125, 0.25);
}
.toggler_btn:focus {
    outline: none;
    box-shadow: none;
}
.toggler_icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, .5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    filter: var(--dp-logo);   
}
.dropdown {
    cursor: pointer;
}
