.proj_img {
    max-height: 300px;
    background-color: var(--dp-card-background);
    border-color: var(--dp-card-border);
    cursor: zoom-in;
}

.proj_img_modal {
    width: auto;
    height: 90vh;
    max-height: 90vh;
}

@media only screen and (min-width: 600px) {
    .proj_card {
        width: 80%;
    }
}

.proj_card {
    background-color: var(--dp-card-background);
}

.proj_title, .proj_title:hover {
    color: var(--dp-title-color);
}

.proj_text {
    white-space: pre-wrap;
    color: var(--dp-text-color);
}

.proj_link {
    position: absolute;
    bottom: 0;
}

.proj_link small {
    font-size: 0.9rem;
    color: var(--dp-proj-link);
}
