@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700&display=swap");

html {
  scroll-behavior: smooth
}
body {
    margin: 0;
    font-family: "Roboto Slab", "Georgia", "Times", "serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
code {
  background-color: var(--dp-code-background);
  border-radius: 4px;
  font-family: courier, monospace;
  padding: 0 4px;
  color: var(--dp-title-color);
  border:0.25px solid rgba(128,128,128, 0.40);
}
code a {
  color: var(--dp-title-color);
  font-family: courier, monospace;
  text-decoration: none;
}
code a:hover {
  color: var(--dp-text-color);
  font-size: 103%;
}

.dropdown .dropdown-menu .dropdown-item:focus {
  outline: none;
}
