.background {
  background-color: var(--dp-background);
  transition: background-color 0.25s;
}
.foreground {
    background-color: var(--dp-foreground);
    min-height: 100vh;
    box-shadow: var(--dp-foreground-shadow);
    transition: background-color 0.25s;
}
.menu {
  background: var(--dp-menu-color);
  border-bottom: 4px solid var(--dp-menu-divider);
}
.divider {
  border-bottom: 3px solid var(--dp-section-divider);
  margin-bottom:0;
  margin-top: 0;
}

@media only screen and (min-width: 600px) {
  .divider {
      width: 80%;
  }
}